---
import Footer from '../sections/_shared/Footer.astro';
import Header from '../sections/_shared/Header.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
	</head>
	<body class="min-h-screen font-sans antialiased">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/tsparticles@1.37.0/tsparticles.bundle.min.js"></script>
<style is:global >
    @import "../styles/global.css";
	
</style>
<script src="../scripts/ui.js"></script>
